.top-menu
  margin: 0 auto 5px
  text-align: center
  background-color: $accent-color

  &__title
    display: none
    color: #fff
    font-size: 22px
    text-transform: uppercase
  &__link
    padding: 14px 30px
    display: inline-block
    color: #fff
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px

    &:hover
      text-decoration: underline

    &--login
      display: none

